# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.DS_Store

test_data/.DS_store

# Test data
#test_data/
#*.nii

# Ignore compiled files
LN_3DCOLUMNS
LN_3DGROW_LAYERS
LN_BOCO
LN_COLUMNAR_DIST
LN_CORREL2FILES
LN_DEBUGGING
LN_DIRECT_SMOOTH
LN_EXTREMETR
LN_FAsim
LN_FIX_RIM
LN_FLOAT_ME
LN_GFACTOR
LN_GRADSMOOTH
LN_GROW_LAYERS
LN_IMAGIRO
LN_INTPRO
LN_LAYER_SMOOTH
LN_LEAKY_LAYERS
LN_MP2RAGE_DNOISE
LN_NOISEME
LN_PHYSIO_PARS
LN_RAGRUG
LN_SHORT_ME
LN_SKEW
LN_SMOOTH_RIM
LN_TEMPSMOOTH
LN_TRIAL
LN_ZOOM
